#start-button {
  position: absolute;
  top: 50px;
  left: 120px;
  font-size: large;
}

.grid {
  width: 606px;
  height: 606px;
  display: flex;
  flex-wrap: wrap;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust this value as needed */
}

.square {
  height: 200px;
  width: 200px;
  /* border-style: solid;
  border-color: black; */
  border: solid black 1px;
}

/* .mole {
  background-image: url("mole.jpg");
  background-size: cover;
} */

.mole {
  height: 200px;
  width: 200px;
  background-image: url("mole.jpeg");
  background-size: cover;
}
